<!DOCTYPE html>
<html lang="en" dir="ltr>
  <head>
    <meta charset="utf-8">
    <title>Paragraphs and headers</title>
    <link rel='stylesheet' href='MyFirstWebsite.css'>
  </head>
  <body>
    <h1 style='background-color: cyan'>First Header</h1>
    <h2>Sub Header</h2>
    <h3>Sub Sub Header</h3>
    No paragraph.
    <p style='background-color: lime'>Hello, this is a website.</p>
    <p style='background-color: gold'><a href="{%url 'Images'%}">Click here to see kohpee machine!<a></p>
    <p><a href="{%url 'BoldAndItalic'%}">Otherwise, here are <b>bold</b> and <i>italic</i>.<a></p>
    <p><a href="{%url 'Lists'%}">Testing lists.<a></p>
    <p><a href="{%url 'Tables'%}">Tables example.<a></p>
    <h1>Some iframe:</h1>
    <iframe src="https://www.youtube.com" width="500" height="500"></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/FSRBVRHo5To?si=uP88zb7A1eKy_LAC" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </body>
</html>