<!DOCTYPE html>
<html lang="en" dir="ltr>
  <head>
    <meta charset="utf-8">
    <title>Tables example</title>
  </head>
  <body>
    <table>
      <tr>
        <th>id</th>
        <th>name</th>
        <th>age</th>
        <th>class</th>
        <th>gender</th>
        <th>target</th>
      </tr>
      <tr>
        <td>1</td>
        <td>Jimmy</td>
        <td>19</td>
        <td>3g</td>
        <td>male</td>
        <td>1</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Joonee</td>
        <td>17</td>
        <td>3h</td>
        <td>female</td>
        <td>1</td>
      </tr>
    </table>
    <p><a href='{%url 'home'%}'>Go back to homepage.</a></p>
  </body>
</html>